[user]
	name = Evan Magoni
	email = esm367@gmail.com
[credential]
	helper = osxkeychain
[push]
	default = simple
[core]
	excludesfile = /Users/magonie/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/magonie/.stCommitMsg
[include]
	path = /Users/magonie/.config/evan.gitconfig
