@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* EM - selected tab: hide shadow */
#tabbrowser-tabs:not([noshadowfortests])
  .tab-background:is([selected], [multiselected]) {
  box-shadow: none !important;
}

/*
 * Underlines and dims unloaded tabs
 *
 * Contributor(s): josemam
 */

.tabbrowser-tab[pending] {
  text-decoration: underline;
}

/* EM - Hides favicon for New Tabs */
.tabbrowser-tab[label="New Tab"] .tab-icon-image {
  display: none;
}

/* EM - Hides hamburger menu */
#PanelUI-button {
  display: none;
}

/* EM - Set extension toolbar icons to greyscale */
toolbarbutton.webextension-browser-action {
  filter: grayscale(50%) !important;
  opacity: 0.9 !important;
}

/**********************/

/* Make all tabs small except selected one */
/* .tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
  max-width: 145px !important;
  min-width: 115px !important;
} */

/* Selected tabs width */
.tabbrowser-tab[selected][fadein]:not([pinned]) {
  /*max-width: 225px !important;*/
  min-width: 205px !important;
}

/* Hide tab close button */
#TabsToolbar .close-icon {
  display: none !important;
}

/* Unhide close button when it is selected tab and not pinned */
#TabsToolbar .tabbrowser-tab[selected="true"]:not([pinned]) .close-icon {
  display: -moz-box !important;
}

/* Show close button even when mouse hover on inactive tabs */
#TabsToolbar
  .tabbrowser-tab:not([selected="true"]):not([pinned]):hover
  .close-icon {
  display: -moz-box !important;
}
